<h1>Ruby on Rails project</h1>
<div id="wrapper">
<% @entries.each do |entry| %>
	<div class="entry">
		<div class="entry-title">
			<h2><%=link_to entry.title, entry %></h2>
		</div>
		<div class="entry-content">
			<%=link_to entry.content, entry %>
		</div>
		<div class="entry-info">
			<b>Skriven av:</b> <%=link_to entry.user.name, user_entries_path(entry.user) %>
			<br />
			<b>Category:</b> <%= link_to entry.category.name, entry.category %>
		</div>
		<div>
			<%= link_to 'Edit', edit_entry_path(entry) %>
			<%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %>
		</div>
	</div>
	<% end %>


</div>
<br />

<%= link_to 'New Entry', new_entry_path %>
