<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @entry.id %>
</p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Content:</b>
  <%= @entry.content %>
</p>

<p>
  <b>Posted by:</b>
  <%= @entry.posted_by %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
