<h1>Ruby on Rails project</h1>
<div id="wrapper">
<% @user.entries.each do |entry| %>
	<div class="entry">
		<div class="entry-title">
			<h2><%=link_to entry.title, entry %></h2>
		</div>
		<div class="entry-content">
			<%=link_to entry.content, entry %>
		</div>
		<div class="entry-info">
			<b>Posted by:</b> <%=link_to entry.user.name, show_user_post_path(entry), method: :put %>
			<br />
			<b>Category:</b> <%= link_to entry.category.name, entry.category %>
		</div>
		<div>
			<%= link_to 'Edit', edit_entry_path(entry) %>
			<%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %>
		</div>
	</div>
	<% end %>


</div>
<br />